@using DLDA.GUI.DTOs.Assessment
@model AssessmentDto
@{
    ViewData["Title"] = "Välj skattningsskala";
}

<link rel="stylesheet" href="~/css/SelectScale.css" asp-append-version="true" />

<div class="container mt-5 text-center">
    <h2 class="mb-3">Hur vill du svara på frågorna?</h2>
    <p class="mb-4">Välj det sätt som känns enklast för dig – smileys eller siffror.</p>

    <form asp-action="SetScale" method="post">
        <input type="hidden" name="id" value="@Model.AssessmentID" />

        <div class="row justify-content-center gap-3 mb-4">
            <!-- Smiley-alternativ -->
            <div class="col-12 col-md-4">
                <input class="form-check-input d-none" type="radio" name="selectedScale" value="Smiley" id="smiley" />
                <label for="smiley" class="scale-option d-block border p-3 rounded bg-light h-100">
                    <img src="~/Images/Smiley Overview.png" alt="Smileys" class="img-fluid mb-2" />
                    <h5>Smileys</h5>
                </label>
            </div>

            <!-- Siffra-alternativ -->
            <div class="col-12 col-md-4">
                <input class="form-check-input d-none" type="radio" name="selectedScale" value="Numerisk" id="number" />
                <label for="number" class="scale-option d-block border p-3 rounded bg-light h-100">
                    <img src="~/Images/Number Overview.png" alt="Siffror" class="img-fluid mb-2" />
                    <h5>Siffror</h5>
                </label>
            </div>
        </div>


        <div class="mt-4">
            <button type="submit" class="btn btn-success btn-lg px-4">
                Välj skattningsskala
            </button>
            <a asp-controller="PatientAssessment" asp-action="Index" class="btn btn-secondary ms-3">Avbryt</a>
        </div>
    </form>
</div>
